*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 90px;
    width: 450px;
    margin:  auto;
    border: solid 10px grey;
}

.child {
    border: 1px solid white;
    background-color: black;
    color: gainsboro;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.childscreen {
    grid-column: 1/5;
    border: solid 5px black;
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color:  #232323;
    text-align: end;
}
.childzero {
    grid-column: 1/3;
    background-color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;

}

.child:hover {
    color: blue;
    background-color: #505050;
}

.childzero:hover{
    color:blue;
    background-color: #505050;
}